        <script type="text/javascript" src="/js/jquery.js"></script>


  <div ng-controller="userController">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project 365</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#section1">Home</a></li>
            <li><a href="#section2">About</a></li>            
            <li><a href="#section3">Impact</a></li>
            <li><a href="#section7">Today</a></li>
            <li><a href="#section88">Story</a></li>
            <li><a href="#section5">Contact</a></li>
            <li id="login"><a data-target="#login" href="#/login">Login</a></li>
            <li id="logedin" class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logged In As: {{user.first_name}}  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a data-target="#new_project" id="proposednav" href="#/new_project">Propose Project</a></li>
                  <li><a data-target="#donate" id="donatenav" href="#/donate">Donate</a></li>
                  <li><a href="">Settings</a></li>
                  <li><a href="">Log Out</a></li>
                </ul>
              </li>
            
          </ul>
        </div>
      </div>
    </nav>
  </div>


<section class="container-fluid" id="section1">
    <h1 class="text-center tlt v-center" data-in-effect="rollIn" >Project 365</h1>
    <h3 class="text-center">Make a Difference Every Day.</h3>
</section>


<section class="container-fluid" id="section2">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1>What is Project 365?</h1>
        <br>
            <p class="lead">Our team hand picks each nonprofit we feature. We select innovative, high impact organizations that are well-rated by trusted, publicly available resources like Charity Navigator & also allow the every day user to propose project ideas. 
            These nonprofits & motivated individuals are doing great work all over the world. We think you’ll love learning about them...</p>
        <br>       
    </div>
    <div class="container">
      <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-2 text-center"><h3>$30 monthly, US tax-deductible.</h3><p>Donors are charged $30 every 30 days. We make it easy to cancel, and all donations are 100% US tax-deductible...</p><i class="fa fa-cog fa-5x"></i></div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 text-center"><h3>Anonymously processed.</h3><p>To spare your inbox, your email isn’t shared with nonprofits. You can always sign up for more info on any nonprofit’s website...</p><i class="fa fa-user fa-5x"></i></div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="row">
              <div class="col-sm-10 text-center"><h3>We’re a nonprofit too!</h3><p>Project 365 makes no money, in any way, from donations on this site. Project 365 was built by a team of (almost entirely) volunteers...</p><i class="fa fa-mobile fa-5x"></i></div>
            </div>
          </div>
      </div><!--/row-->
    <div class="row"><br></div>
  </div><!--/container-->
  </div>
</section>

<section class="container-fluid" id="section3">
  <h2 class="text-center">Micro Donations, Macro Impact</h2>
    <p class="text-center lead">Togeather We Can Make A Differance</p>
    <img src="http://futurisconsulting.com/wp-content/uploads/2013/11/World-map-Pins.png" width="1000" class="img-responsive center-block ">
    
</section>

<section class="text-center container-fluid" id="section7">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

      <div class="carousel-inner" role="listbox">
      <div class="item active">
          <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
              <h2 class="text-center lead">Today, Oct. 30th 2015 Project</h2> 
              <img src="http://cdn.youthkiawaaz.com/wp-content/uploads/2015/07/26/indias-poor-urban-children/child.jpg" class="img-circle" alt="Cinque Terre" width="300" height="280"><br><br><br><br>  
              <h2 class="text-center">Streets of Jaipur</h2>
              <p class="text-center lead">Perhaps the most disadvantaged group in India are the millions of street children who live or work on the street. Street children have fallen through society’s cracks – there are few ladders for them to climb back up. They live as their parents did and as their own children are likely to do.
              Children live and work on the street because their parents are poor, or they are orphans, or they have run away from home, often to escape abuse. They are invariably malnourished, receive scant education or medical treatment, and are involved in child labour from an early age. Child prostitution and sexual abuse are also major problems, as is addiction to drugs. These children live in a different world to the emerging middle class. Taken as a separate nation, they represent one of the neediest peoples on the planet.</p>
              <h4 class="text-center"><a href="">Click Here To Sign Up For Our Daily E-Mails</a></h4>
      </div>
      </div>
      </div>
      <div class="item">
      <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
          <h2 class="text-center lead">Yesterday, Oct. 29th 2015 Project</h2> 
          <img src="http://www.faculty.fairfield.edu/faculty/hodgson/Courses/so191/Projects2005/CrissyY/Chrissy/water.jpg" class="img-circle" alt="Cinque Terre" width="300" height="280"> 
          <h2 class="text-center">Clean Water in Tanzania</h2>
          <p class="text-center lead">Tanzania is one of the largest countries in Africa, but a third of its 47 million people live on less than one dollar per day. Life expectancy is just 50 years. Investment in water and sanitation here lags well behind the projected need for a growing population, and a huge portion of the population still relies on disease-ridden pit latrines. To meet demand, we're building new wells, rehabilitating existing structures, and installing hygienic block latrines. 49,250,000 national population 28.2% live below poverty line 56% of rural lack access to water 93% of rural lack sanitation </p>
          <h4 class="text-center"><a href="">Click Here To Sign Up For Our Daily E-Mails</a></h4>
      </div>
      </div> 
      </div>     
      <div class="item">
          <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
          <h2 class="text-center lead">Tomorrow, Oct. 31th 2015 Project</h2> 
          <img src="http://s3-media1.fl.yelpcdn.com/bphoto/PpCq0k0ZZkwfq8HvrhGufw/ls.jpg" class="img-circle" alt="Cinque Terre" width="300" height="280"> 
          <h2 class="text-center">The Tommorow Project</h2>
          <p class="text-center lead">The Tomorrow Project—HELPING WOMEN CREATE FUTURES TODAY—is a work-readiness program of Catholic Charities, Diocese of San Diego for homeless women. Our mission is to provide individualized work-readiness training opportunities for homeless women within the context of a business/product assembly environment. Through the process of producing a line of gourmet food products, women who are re-entering the work force or entering it for the first time experience the culture of work and the success that comes with reaching daily goals and assembling a product from raw materials to a saleable package.</p>
          <h4 class="text-center"><a href="">Click Here To Sign Up For Our Daily E-Mails</a></h4>
      </div>
      </div>
      </div>
    </div>
    </div>
  </div>   
  </div>
</section>

<section class="container-fluid" id="section4">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <h4 class="text-center bar v-center">$1 a day can really help. Every 3,000 donors is more than a million dollars a year to nonprofits!</h4>
    </div>
  </div>
</section>


<section class="container-fluid" id="section88">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

      <div class="carousel-inner" role="listbox">
      <div class="item active">
          <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
              <img src="http://cdn.c.photoshelter.com/img-get/I0000uVbZCqU9FG0/s/750/600/india10jeffrey-3281002.jpg" class="img-circle" alt="Cinque Terre" width="300" height="280"><br><br><br><br>  
              <h2 class="text-center">Asharfis Story</h2>
              <p class="text-center lead">Perhaps the most disadvantaged group in India are the millions of street children who live or work on the street. Street children have fallen through society’s cracks – there are few ladders for them to climb back up. They live as their parents did and as their own children are likely to do.
              Children live and work on the street because their parents are poor, or they are orphans, or they have run away from home, often to escape abuse. They are invariably malnourished, receive scant education or medical treatment, and are involved in child labour from an early age. Child prostitution and sexual abuse are also major problems, as is addiction to drugs. These children live in a different world to the emerging middle class. Taken as a separate nation, they represent one of the neediest peoples on the planet.</p>
              <h4 class="text-center"><a href="">Click Here To Read More</a></h4>
      </div>
      </div>
      </div>
      <div class="item">
      <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
          <img src="http://previous.presstv.ir/photo/20101119/forouhi20101119012423060.jpg" class="img-circle" alt="Cinque Terre" width="300" height="280"> 
          <h2 class="text-center">It's So Raw</h2>
          <p class="text-center lead">Horvath heads down Hollywood's Walk of Fame, looking for homeless people. When he finds someone, he reaches into an overstuffed backpack and pulls out a bag of fresh white socks. Nearly everyone takes a pair. And when they do, Horvath pulls out a video camera and asks if he can interview them — like he does with a guy named Rico, who is sitting on the sidewalk and working on a painting propped up by a bag with all his belongings. This style of bluntly reminding someone they're homeless and then letting them talk works pretty well. The evidence is at Invisiblepeople.tv. The video, on the front page of the site, is one of hundreds of video profiles shot throughout California, and more recently, the country. It's a profile of Brian, a bearded 54-year-old with tired blue eyes who says he's been homeless since he was 15 years old. </p>
          <h4 class="text-center"><a href="">Click Here To Read More</a></h4>
      </div>
      </div> 
      </div>
    </div>
    </div>
  </div> 
</section>





<section class="container" id="section5">
  <h1 class="text-center">Join The Fight:</h1>
  <h3 class="text-center">Follow Us On Our Social Media Platforms</h3><br><br>
    <div class="row">
      <!--fontawesome icons-->
      <div class="col-sm-1 col-sm-offset-2 col-xs-4 text-center">
       <i class="fa fa-github fa-4x"></i>
      </div>
      <div class="col-sm-1 col-xs-4 text-center">
       <i class="fa fa-foursquare fa-4x"></i>
      </div>
      <div class="col-sm-1 col-xs-4 text-center">
        <i class="fa fa-facebook fa-4x"></i>
      </div>
      <div class="col-sm-1 col-xs-4 text-center">
       <i class="fa fa-pinterest fa-4x"></i>
      </div>
      <div class="col-sm-1 col-xs-4 text-center">
       <i class="fa fa-google-plus fa-4x"></i>
      </div>
      <div class="col-sm-1 col-xs-4 text-center">
       <i class="fa fa-twitter fa-4x"></i>
      </div>
      <div class="col-sm-1 col-xs-4 text-center">
       <i class="fa fa-dribbble fa-4x"></i>
      </div>
      <div class="col-sm-1 col-xs-4 text-center">
       <i class="fa fa-instagram fa-4x"></i>
      </div>
  </div><!--/row-->
  <div class="row">
    <div class="col-md-12 text-center">
      <br><br>
      </div>
  </div>

  <div class="col-md-12">
    <div class="form-area">  
        <form role="form">
        <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">We Would Love To Hear From You</h3>
              <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
          </div>
                    <div class="form-group">
                    <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                        <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
                    </div>
            
        <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Contact Us</button>
        </form>
    </div>
</div>
</section>
