body {
	background-image:url("http://1.bp.blogspot.com/-mLUD81BdV3k/Twfvs8VY-gI/AAAAAAAAADo/OEjYgHOqxEQ/s1600/Galaxy%2BYoung%2BWallpaper%2B%2B%252814%2529.jpg");
	color: white; 
}

h1 {
	color: white; 
}